{% extends 'main.html' %}
{% load static %}

{% block title %}Analyze{% endblock %}

{% block page %}

    <h1>Analiza spółki</h1>


{{df | safe }}


<img src="data:image/png;base64,{{ dt }}" height="400" width="750"><br>

Spółka
<button id="period" onclick="location.href='{% url 'analyze' val="5min" %}'">5min</button>
<button id="period" onclick="location.href='{% url 'analyze' val="30min" %}'">30min</button>
<button id="period" onclick="location.href='{% url 'analyze' val="4hour" %}'">4hour</button>
<button id="period" onclick="location.href='{% url 'analyze' val="1day" %}'">1day</button>
CCI 
macd
Volume
Date time








{% endblock %}

