{% extends 'main.html' %}
{% load static %}

{% block title %}Analyze{% endblock %}

{% block page %}

    <h1>Analiza spółki</h1>


{{df | safe }}
<br>
<div class="diagram">
    <img src="data:image/png;base64,{{ dt }}" height="500" width="750" ><br>

    Spółka
    <button id="period" onclick="location.href='{% url 'analyze' val="5" %}'">5min</button>
    <button id="period" onclick="location.href='{% url 'analyze' val="30" %}'">30min</button>
    <button id="period" onclick="location.href='{% url 'analyze' val="240" %}'">4hour</button>
    <button id="period" onclick="location.href='{% url 'analyze' val="1440" %}'">1day</button>
    CCI 
    macd
    Volume
    Date time



</div>

{{ period }}



{% endblock %}

