{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='{% static 'styles.css' %}'>
  </head>

  <body>
    <header>
      <div class="gielda">
        <img class="header__img" src="{% static '/media/Gielda.png' %}" />
      </div>
      <div class="button">
        <a href="/company/show">Spółki</a>
      </div>
      <div class="button">
        <a href="/analyze/analyze/5min">Analiza</a>
      </div>
      <div class="button">
        <a href="/trade/trade">Handluj</a>
      </div>
      <div class="button">
        <a href="/members">API</a>
      </div>
      <div class="button">
        <a href="/login">Zaloguj</a>
      </div>
    </header>
    <main>{% block page %} {% endblock %}</main>
  </body>
</html>
