{% extends 'main.html' %}
{% load static %}


{% block title %}Trade{% endblock %}

{% block page %}






    <h1>Kup lub sprzedaj spółkę</h1>
    <div class="stock">
        <div class="row_s">
            <select class="form-control" id="" name="stock" required>
                {% for i in response %}
                <option value="{{i.symbol}}"
                    {% if f.fuel_zone_id == i.symbol %}
                        selected="selected"
                    {% endif %}>
                          {{response.name}}
                </option>
                {% endfor %}
           </select>
        </div>
        <div class="row_s">
            
            Cena: 
        </div>
        <div class="row_s">
            Nazwa:
        </div>

        <div class="row_s">
            <form action="#">
                <label for="fname">Podaj ilość:</label>
                <input type="text" id="fname" name="fname">
            </form>

        </div>
        <select>
            <option>Kupno</option>
            <option>Sprzedaż</option>
        </select>
        <button type="button">Przelicz ilość</button>
    </div>

    <br><br>
    <div class="row_s">Saldo konta:</div>



    <button type="button">Zatwierdz</button>


{% endblock %}

